body{
	background: url(../media/home.jpg) center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	color: #cfcfcf;
	margin-top:0px;
	background-clip: content-box;
	background-origin: content-box;
    height: 100%;
	width: 100%;
}